* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;
}

.img {
    background-image: url('img/padlock.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    margin-top: 3rem;
    margin-left: 3rem;
}

.message {
    padding-top: 10%;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 2s;
}

.message-off {
    opacity: 0;
}

.message-on {
    opacity: 1;
}